body {
    direction: ltr;
    text-align: left;
}

ul {
    padding-right: unset;
    padding-left: 0;
}

header .top-header .login a i{
    padding-inline-end: 5px;
}
.about-page .aboutpage-img::before{
    right: unset;
    left: -40px;
}
.about-page .aboutpage-img::after{
    left: unset;
    right: -50px;
}
footer .footer-widget a::after{
    left: 0;
    right: unset;
    transform: rotate(180deg) translateY(50%);
}
footer .footer-widget .contacts a:not(:last-of-type){
    margin-left: unset;
    margin-right: 15px;
}

.login-section .form-group i{
    left:unset;
    right: 20px;
}
.img-block .close i,
.upload-img .upload-icon i{
    left: 0;
    right: 0;
}
.pay-bank .bank-item .img::after{
    right: 0;
    left: unset;
}
.bank-info ul li{
    display: flex;
}
.course-details .user-tabs .tab-pane h3.cust-title{
    border-left: 4px solid var(--primaryColor);
    border-right: unset;
}
.course-details .course-list li a p img{
    transform: rotate(180deg);
}
.about h3.title-about::after{
    right: unset;
    left: 0;
}
.about h2{
    border-left: 2px solid var(--primaryColor);
    border-right: unset;
}
.about .about-img .two{
    right: unset;
    left: 30px;
}
.app-text h3{
    border-left: 3px solid var(--primaryColor);
    border-right: unset;
}
.about .circle-2{
    right: 0;
    left: unset;
}
.about .circle-1{
    right: unset;
    left: -30px;
}
header .top-header .lang-phone .user-drop .dropdown-menu{
    text-align: left;
}
.pay-method .radiobtn{
    left: 10px;
    right: unset;
}
@media (max-width: 991px){
    header nav .nav{
        left: -250px;
        right: unset;
    }
    .about .about-img .two{
        right: 21px;
        left: unset;
    }
    header nav .nav.show-nav {
        right: unset;
        left: 0;
    }
}
@media (max-width: 459px){
    .about .about-img .two {
        left: unset;
        right: 0;
    }
}